header {
  background-image: radial-gradient(
    ellipse at 50% 100%,
    var(--primary-20) 10%,
    var(--primary-10) 100%
  );
  padding: 6px 42px;
  border-radius: 100px;
  transition: 0.2s ease-out;
  user-select: none;
}

header:hover {
  padding-inline: 52px;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
